.popover-header {
	background-color: var(--teal);
}

.settings-field {
	display: none;
}

#generatedUrl {
	word-wrap: break-word;
}

.urlSlugError {
	box-sizing: border-box;
	position: absolute;
	width: 85%;
}
